{% extends 'base.html.twig' %}

{% block body %}
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="form-login w-100" style="max-width: 400px;">
            <div class="cabecera text-center mb-4">
                <img src="{{ asset('image/logoSinFondo.png') }}" alt="logo" class="img-logo mb-3" style="max-width: 100%; height: auto;">
                <h1 class="h4"><strong>Acceso Administrador</strong></h1>
            </div>

            <form method="post">
                <div class="mb-3">
                    {% for mensaje in app.flashes('error') %}
                        <div class="alert alert-danger">{{ mensaje }}</div>
                    {% endfor %}
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" required>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" name="password" class="form-control" id="password" required>
                </div>

                <button type="submit" class="btn btn-primary w-100">Entrar</button>
            </form>
        </div>
    </div>
{% endblock %}
